.dark-section {
  background-color: #1c2026;
  background-image: url(../images/elements/bgd-shape1.png),
    url(../images//elements//bgd-shape2.png);
  background-position: left top, right bottom;

  background-repeat: no-repeat;
  color: #fff;

  .documents-section {
    .documents {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: #fff;
      }
      img {
        vertical-align: middle;
        margin-left: 30px;
        float: right;
      }
      .download-button {
        border-radius: 25px;
        word-break: break-all;
        background-color: #262b33;
        color: #fff;
        border: none;
        padding: 8px 10px 8px 20px;
        margin-bottom: 15px;
        text-align: start;
        max-width: 80%;
      }
      .download-button:hover {
        background-color: #fff;
        color: #262b33;
      }

      .main-document {
        background-color: #262b33;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 2px solid #83c056;
        img {
          width: 30%;
          padding: 50% 0;
          margin: 0;
        }
        .btn-main-document {
          border-radius: 20px;
          border: 1px solid white;
          padding: 5px 25px;
          color: #fff;
          background-color: #262b33;
          margin-bottom: 30px;
        }
        .btn-main-document:hover {
          color: #262b33;
          background-color: #fff;
        }
      }
    }
    p {
      color: #737c8b;
    }
  }
  .legal-section {
    h1 {
      margin: 40px 0;
    }
    p {
      color: #737c8b;
    }
    p span {
      color: #fff;
    }
  }
  p {
    font-size: 18px;
    color: #fff;
  }
  .tabs-container {
    margin: 50px 0 0 0;
  }
  .tabs-column {
    text-align: start;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 65%;
    background-color: #262b33;
    color: #fff;
    .tab-pane {
      padding: 10px;
    }
    h1 {
      padding-bottom: 8%;
    }
  }
}
