.description-section {
  h1 {
    color: #262b33;
    font-size: 40px;
  }
  p {
    color: #74767a;
    font-size: 18px;
  }
  h4 {
    color: #1c2026;
    font-weight: 400;
    font-size: 25px;
  }
  a,
  a:hover,
  a:active,
  a:visited {
    color: #000 !important;
  }
}
