.top-line {
  background-color: #1c2026;
  height: 200px;
}
.apartments-main-text {
  padding-bottom: 90px;
  text-align: center;
}
.apartments-grid {
  margin-top: -5%;
  .apartment-box {
    display: block;
    background-color: rgb(255, 255, 255);
    margin-bottom: 5%;
    margin-top: -12%;
    z-index: 10;
    padding: 3px;
    position: relative;
    width: 80%;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05),
      0 6px 20px 0 rgba(0, 0, 0, 0.05);

    .apartment-description {
      font-weight: 700;
    }
    .location-styling {
      border-left: 1px solid black;
      padding: 0 0 5px 5px;
    }
    .price {
      font-weight: 600;
      opacity: 1 !important;
    }
    .details {
      border-top: 1px solid rgb(194, 194, 194);
    }
    .detail {
      border-right: 1px solid rgb(194, 194, 194);
      padding: 7px 0 0 7px;
    }
    .detail:last-child {
      border: none;
    }
  }
}

.main-section {
  background-image: url("../images/main-section-bgd.png");
  background-size: cover;
  background-repeat: no-repeat;

  height: 100%;
  .location-main {
    display: inline-block;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    border-radius: 20px;
  }
  .btn-price {
    font-size: 25px;
    border-radius: 18px;
    padding: 5px 25px;
    background-color: #1c2026;
    color: #83c056;
    border: none;
    box-shadow: black;
    box-shadow: 0px 0px 24px 2px rgba(0, 0, 0, 0.55);
  }
  .btn-price:hover {
    background-color: #83c056;
    color: #1c2026;
  }
  .contact-main {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    padding: 5px;
    img {
      width: 100%;
    }
  }
}

.img-container {
  margin: 0 !important;
  padding: 0 !important;
  .text-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-gallery {
    width: 100%;
  }
}
.contact-block {
  background-color: #262b33;
  padding: 10px 0px;
  margin: 30% 0;
  border-radius: 10px;
  box-shadow: 0px 33px 32px -23px rgba(0, 0, 0, 0.93);

  a {
    font-size: 18px;
  }
  img {
    width: 100%;
  }
  .col-6 {
    padding: 0;
    margin: 0;
  }
}
.description-section {
  h1 {
    color: #262b33;
    font-size: 40px;
  }
  p {
    color: #74767a;
    font-size: 18px;
  }
  h4 {
    color: #1c2026;
    font-weight: 400;
    font-size: 25px;
  }
  a,
  a:hover,
  a:active,
  a:visited {
    color: #000 !important;
  }
}

a,
a:hover,
a:active,
a:visited {
  text-decoration: none !important;
  color: #fff !important;
}
.navbar-items .active,
.navbar-items a:hover {
  color: #83c056 !important;
}

.btn-main {
  padding: 5px 35px;
  color: #fff;
  box-shadow: none;
  border-radius: 18px;
  border: none;
  border: 1px solid white;
  background-color: rgba(0, 0, 0, 0);
}
.btn-main:hover {
  color: black;
  background-color: white;
}

.btn-main-dark {
  padding: 5px 35px;
  color: #1c2026;
  box-shadow: none;
  border-radius: 18px;
  border: none;
  border: 1px solid #1c2026;
  background-color: rgba(0, 0, 0, 0);
}
.btn-main-dark:hover {
  color: white;
  background-color: #1c2026;
}
.dark-section {
  background-color: #1c2026;
  background-image: url(../images/elements/bgd-shape1.png);
  background-repeat: no-repeat;
  color: #fff;

  .documents-section {
    .documents {
      display: flex;
      justify-content: center;
      align-items: center;
      p {
        color: #fff;
      }
      img {
        vertical-align: middle;
        margin-left: 30px;
        float: right;
      }
      .download-button {
        border-radius: 25px;
        word-break: break-all;
        background-color: #262b33;
        color: #fff;
        border: none;
        padding: 8px 10px 8px 20px;
        margin-bottom: 15px;
        text-align: start;
        max-width: 80%;
      }
      .download-button:hover {
        background-color: #fff;
        color: #262b33;
      }

      .main-document {
        background-color: #262b33;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        border: 2px solid #83c056;
        img {
          width: 30%;
          padding: 50% 0;
          margin: 0;
        }
        .btn-main-document {
          border-radius: 20px;
          border: 1px solid white;
          padding: 5px 25px;
          color: #fff;
          background-color: #262b33;
          margin-bottom: 30px;
        }
        .btn-main-document:hover {
          color: #262b33;
          background-color: #fff;
        }
      }
    }
    p {
      color: #737c8b;
    }
  }
  .legal-section {
    h1 {
      margin: 40px 0;
    }
    p {
      color: #737c8b;
    }
    p span {
      color: #fff;
    }
  }
  p {
    font-size: 18px;
    color: #fff;
  }
  .tabs-container {
    margin: 50px 0 0 0;
  }
  .tabs-column {
    text-align: start;
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 65%;
    background-color: #262b33;
    color: #fff;
    .tab-pane {
      padding: 10px;
    }
    h1 {
      padding-bottom: 8%;
    }
  }
}
.nav-pills .nav-link {
  border-radius: 0.25rem;
  padding: 15px 30px;
}
footer {
  background-color: #262b33;
  ul {
    padding-left: 20px;
  }
  h5,
  ul > li span,
  a,
  a:visited,
  a:hover,
  a:active {
    color: #7c828c !important;
    font-size: 16px;
  }
  li,
  p {
    color: #83c056;
    font-weight: bolder;
  }
}

.f-copyright {
  background-color: #1c2026;
  color: #7c828c;
  justify-content: center;
  padding-top: 12px;
}
.opacity-03 {
  opacity: 0.3;
}

.opacity-05 {
  opacity: 0.5;
}

.font-small {
  font-size: 13px;
}

@media only screen and (max-width: 1024px) {
  .contact-block {
    a {
      font-size: 13px;
    }
  }
  .dark-section {
    padding: 0 10px;
  }
}

@media only screen and (max-width: 768px) {
  .apartments-grid {
    margin-top: -25%;
  }
  .dark-section {
    padding: 0 10px;
    h1 {
      font-size: 1.9rem;
    }
    p {
      font-size: 0.9rem;
    }
  }
  .tabs-column {
    margin: 0 !important;
    max-width: 100%;
    padding: 0 !important;
  }
}
@media only screen and (min-width: 768px) {
  .main-section {
    padding: 180px 0;
  }
  .gallery-section {
    margin-top: -120px;
  }

  .w-lg-80 {
    width: 80%;
  }
  .w-lg-40 {
    width: 40%;
  }
  .w-lg-35 {
    width: 35%;
  }
  .w-lg-75 {
    width: 75%;
  }
  .font-large {
    font-size: 60px;
  }
}
$theme-colors: (
  "dark": #262b33,
);
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1c2026 !important;
}

@import "../../node_modules/bootstrap/scss/bootstrap";
